@import '../node_modules/sh-core/src/base';

.sh-input-checkbox {
    outline: 0;
    transition: color $transition-hover;


    svg {
        fill: $color-font;
        height: 30px;
        width: 30px;
        transition: fill $transition-fast;
        border-radius: 4px;
    }

    &.sh-invalid {
        svg {
            fill: $color-error;
            transition: fill $transition-fast;
        }
    }

    &:hover {
        svg {
            fill: color-primary;
            transition: fill $transition-fast;
        }
    }

    &:focus {
        svg {


            @include  boxShadow( inset 0 1px 1px $color-transparent, 0 0 5px $color-box-background2);

        }
    }

    &.sh-disabled {
        pointer-events: none;

        svg {
            fill: $color-box-background3;
        }
    }

    i {
        border-radius: 2px;
    }
}